name: Update Recent Activity
on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update Activity
        uses: Readme-Workflows/recent-activity@main
        with:
          GH_USERNAME: abhishekmishra28
          CONFIG_FILE: .github/activity-config.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
