name: Update LeetCode Stats
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate LeetCode report
        uses: jaywcjlove/leetcode-report@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          username: abhishekmishra2002
          timezone: Asia/Kolkata
