name: Update Recent Activity

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Update Activity
        uses: jamesgeorge007/github-activity-readme@v0.3.6
        with:
          COMMIT_MSG: "chore: update recent GitHub activity"
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
